@charset "UTF-8";
@import '_variables';
@import '_base+common';
@import '_plugins';

a {
	color: $link-text;
}
@mixin border() {
	border: 1px solid $gray-light;
	border-width: 1px 0 1px 0;
	padding: 16px 0;
}
/* ==========================================================================
   HEADER
   ========================================================================== */
.header-site {
	&__wrap {
		background: #fff;
		@include shadow();
	}
	&__top {
		font-size: 14px;
		@media (max-width: $screen-xs-max) {
			.b-logo, .b-actions, .b-region {margin-bottom: 16px;}
		}
		@media (min-width: $screen-sm-min) {
			padding-top: 16px;
			padding-bottom: 8px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			border-bottom: 1px solid $gray-light;			
			.b-logo {position: relative; top: -8px;}
			.b-actions {}
			.b-region {}
			.b-login {}
		}
		@media (min-width: $screen-lg-min) {
			.b-logo {width: 30%}
		}
	}
	.b-actions {
		p {display: inline-block;}
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			p {display: block;}
			p:first-child {margin-bottom: 4px;}
		}
	}
	.b-region {		
		position: relative;
		@media (min-width: $screen-sm-min) {text-align: center;}
		.chosen {border-bottom: 1px dotted $link-text}
		&__i {			
			padding: 12px 12px 0;
			margin-top: 8px;
		}
		.title {font-weight: 500; font-size: .88rem;}
		.close {
			padding: 0;
			border: none;
			background: none;
			position: absolute;
			right: 2px;top: 2px;
			cursor:pointer;
			font-size: 12px;
			width: 16px;
			height: 16px;
			background: 50% 50% url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='far' data-icon='times' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' class='svg-inline--fa fa-times fa-w-12 fa-7x'%3E%3Cpath fill='currentColor' d='M231.6 256l130.1-130.1c4.7-4.7 4.7-12.3 0-17l-22.6-22.6c-4.7-4.7-12.3-4.7-17 0L192 216.4 61.9 86.3c-4.7-4.7-12.3-4.7-17 0l-22.6 22.6c-4.7 4.7-4.7 12.3 0 17L152.4 256 22.3 386.1c-4.7 4.7-4.7 12.3 0 17l22.6 22.6c4.7 4.7 12.3 4.7 17 0L192 295.6l130.1 130.1c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17L231.6 256z' class=''%3E%3C/path%3E%3C/svg%3E") no-repeat;
			opacity: .5;
		}
	}
	.b-region__i, .b-login__reg__i {
		@include shadow();
		background: #fff;
		width: max-content;
		position: relative;
		@media (min-width: $screen-sm-min) {
			position: absolute;
			top: 100%;		
			min-width: 130px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 10;
		}
	}
	.b-login {
		.or {margin: 0 4px;}
		a {border-bottom: 1px dotted $link-text}
		&__reg {
			display: inline-block;
			position: relative;
			padding: 8px 0;
			&__i {
				margin-top: 0;
				text-align: center;
				padding: 12px;
				display: none;
				transition: all .3s;
				width: 0;
				@media (max-width: $screen-xs-max) {display: none;}
				li {margin-bottom: 4px;
					&:last-child {margin-bottom: 0;}
				}
				a {border: none;}				
			}
			&:hover, &:focus, &:active {
				.b-login__reg__i {
					z-index: 10;
					display: block;
					width: max-content;
				}
			}
		}
	}
}
.fa-lock {color: $action}

/* HERO */
.header-site__hero {
	background: url('../images/bg-hero.jpg');
	background-size: cover;
	padding: 64px 0;
	position: relative;
	@media (min-width: $screen-md-min) {padding: 100px 0;}
	.hero-h {
		text-align: center; 
		margin: 0 0 16px 0; 
		color: #fff; 
		position: relative; z-index: 2;
		font-size: 40px;
		font-weight: 400;
		text-shadow: 0 0 3px rgba(#fff, .5); 
	}
}
.hero__form-wrap {
	&:before {
		content: "";
		position: absolute;
		left: 0;right: 0;top: 0;bottom: 0;
		background: rgba(#000, .3);
	}
	color: #fff;
	@media (min-width: $screen-sm-min) {
		background: $blue;
		padding: 40px;
		border-radius: 8px;			
	}
}
.hero__form-search {
	position: relative;
	z-index: 2;
	.search-type, .search-field, .search-submit {height: 40px;font-size: 16px;width: 100%; margin-bottom: 8px;}
	@media (min-width: $screen-xs-min) {
		position: relative;
		padding: 0 108px 0 115px;
		
		.search-type, .search-submit {position: absolute;top: 0;width: auto;}
		.search-type {width: 110px;left: 0;}		
		.search-submit {right: 0; padding: 0 16px}
	}
}
.hero__form-extra {
	position: relative;
	z-index: 1;
	@media (max-width: $screen-xs-max) {text-align: center;}
	@media (min-width: $screen-sm-min) {
		display: flex; justify-content: space-between;
	}
}
.hero__search-links, .hero__search-ext {margin-top: 8px;display: inline-block;}
.hero__search-links a, .hero__search-ext {
	color: #fff; border-bottom: 1px solid rgba(#fff, .5);
	&:hover,&:active,&:focus{border-color: #fff}	
}
.hero__search-ext {text-align: right;}
/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.navigation-main {
	a {font-size: 16px;}
	@media (min-width: $screen-sm-min) {		
		padding: 16px 0;
	}
}
.navigation-main {
	@media (max-width: $screen-xs-max) {
		text-align: center;
		background: $blue;
		margin: 0 -15px;
		padding: 4px 0;
		a {
			padding:8px 0; 
			display: block; 
			text-transform: uppercase;
			font-weight: 500;
			color: #fff;
		}
	}
	@media (min-width: $screen-sm-min) {
		.menu-item {display: inline-block; margin-right: 16px;
			&:last-child {margin-right: 0;}
		}
	}
}
.nav-menu-main {
	@media (min-width: $screen-sm-min) {
		display: block !important;
	}
}
/* ==========================================================================
   CONTENT
   ========================================================================== */
@media (min-width: $screen-md-min) {
	.row-mod {display: flex;}
	.sidebar-left, .sidebar-right {
		flex-grow: 0;
		flex-shrink: 0;
	}
	.sidebar-left {
		order:1; 
		width: 220px;
	}
	.sidebar-right {
		order:3; 
		width: 240px;
	}
	.content-main {
		order:2; 
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
		padding: 20px;
		flex: 1;
	}
}

.h-sec {
	font-weight: 500;
	@include border();
	background: $gray-bg;
	font-size: 1.5rem;
	margin: 0 0 24px 0;
	@media (min-width: $screen-md-min) {
		margin: 0 -20px 24px;		
		padding: 16px;
	}
}

.h-sec_sub-about {color: $action}

.list-columns-1, .list-columns-2 {
	li {
		margin-bottom: 16px; 
		position: relative;
	}
	@media (min-width: $screen-xs-min) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li {margin-bottom: 28px;}
	}
	@media (min-width: $screen-md-min) {
	
	}
}
.list-columns-1 {
	@media (min-width: $screen-xs-min) {
		li {width: 48%;}
	}
	@media (min-width: $screen-md-min) {
		li {width: 30%;margin-bottom: 40px;}
	}
}
.list-columns-2 {
	@media (min-width: $screen-xs-min) {
		li {width: 48%;}
	}
	@media (min-width: $screen-md-min) {
		li {width: 23%;margin-bottom: 16px;}
	}
}
.b-related .list-columns-2 {
	@media (min-width: $screen-xs-min) {
		li {width: 48%;}
	}
	@media (min-width: $screen-md-min) {
		li {width: 48%;}
	}
	@media (min-width: $screen-lg-min) {
		li {width: 23%;margin-bottom: 16px;}
	}
}


.job-salary {color: $action;font-weight: 500;}
.job-vacancies {color: rgba(#000,.5);font-weight: 500;
	@media (max-width: $screen-xs-max) {
		float: right;
		span {opacity: 0;width: 0;display: inline-block;}
		&:after {content: "вак."; display: inline-block;}
	}
}


.metro-link {display: inline-block; margin: 0 8px 16px 0;
	&:hover {text-decoration: underline;}
}
.spr_suwbay {
 display:inline-block;
 vertical-align:top;
 background:url("../images/sprite_subway.png") no-repeat top left; 
 width:22px;
 height:12px;
 vertical-align: middle;
 margin-right: 4px;
}
.subwaym1 {background-position:0 0;}
.subwaym10 {background-position:0 -62px;}
.subwaym11 {background-position:0 -124px;}
.subwaym12 {background-position:0 -186px;}
.subwaym13 {background-position:0 -248px;}
.subwaym2 {background-position:0 -310px;}
.subwaym3 {background-position:0 -372px;}
.subwaym4 {background-position:0 -434px;}
.subwaym5 {background-position:0 -496px;}
.subwaym6 {background-position:0 -558px;}
.subwaym7 {background-position:0 -620px;}
.subwaym8 {background-position:0 -682px;}
.subwaym9 {background-position:0 -744px;}
.subwaysp1 {background-position:0 -806px;}
.subwaysp2 {background-position:0 -868px;}
.subwaysp3 {background-position:0 -930px;}
.subwaysp4 {background-position:0 -992px;}
.subwaysp5 {background-position:0 -1054px;}


/* BRANDS */
.list-columns-brands {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;			
	li {
		border: 1px solid $gray-light;
		width: 48%;
		text-align: center;
		height: 88px;
		margin-bottom: 24px;
		@media (min-width: $screen-sm-min) {width: 23%;}
		@media (min-width: $screen-md-min) {width: 18%;}
	}
}
.job-company {
	display: inline-block;
	width: 96px;
	height: 48px;
	background: url('../images/spite-logos.jpg') 50% -150px no-repeat;
	font-size: 0;
	margin: 0 auto;
}
/* ==========================================================================
   FORMS
   ========================================================================== */
.inp-required-demo {
	display: inline-block;
	padding: 4px 0 4px 8px;
	margin-bottom: 18px;
}

.h-form {
	font-size: 1.3rem;
	color: $link-text;
	&:first-child {margin-top: 0;}
}
.form-main {
	@media (min-width: $screen-md-min) {
		max-width: 600px;
		margin: 0 auto;
	}
}
.form-vacancy {
	max-width: 100%;
}

.row-form {
	margin-bottom: 16px;
	&:last-child {margin-bottom: 0;}
	@media (min-width: $screen-sm-min) {
		display: table;
		width: 100%;
	}
}
.col-form-1, .col-form-2 {
	@media (min-width: $screen-sm-min) {
		display: table-cell;
		vertical-align: top;
	}
}
.col-form-1 {
	@media (max-width: $screen-xs-max) {
		margin-bottom: 8px;
	}
	@media (min-width: $screen-sm-min) {
		width: 175px;
		padding-top: 6px;
	}
}
.col-form-2 {padding-left: 8px;}
.col-form-nopad {padding-top: 0;}
.row-form-half {
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max), (min-width: $screen-lg-min) {
		padding-left: 183px;
	}
}


.col-form-company-name {
	position: relative;	
}
.inp-company-type {
	width: 65px;
	position: absolute;
	left: 8px; top: 0;
	height: 36px;
}


/* text items */
.form-descript {margin-bottom: 24px;}
.form-hint, .form-error {
	font-size: .85rem;
	color: $gray;
	margin-top: 4px;
	line-height: 1.2;
	&:first-child {margin-top: 0;}
}
.form-hint {color: $gray;}
.form-error {color: red;}


.col-form-tel {clear: both;}
.col-form-tel_wrap {margin-bottom: 4px;}
.inp-tel {width: 150px !important}

/* buttons */
.btn-add, .btn-del {
	background: none;
	padding: 0;
	border: none;
	font-size: 0;
	width: 22px;height: 25px;	
	vertical-align: middle;
	margin-left: 8px;
	cursor: pointer;
	background: #eeecec;
}
.btn-add {background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23f55600' d='M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z'%3E%3C/path%3E%3C/svg%3E") no-repeat;}
.btn-del {background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' height='25'%3E%3Cpath fill='%23f55600' d='M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z' %3E%3C/path%3E%3C/svg%3E") no-repeat;}

.list-vacancy-specializations {
	overflow: hidden;
	.list-item {
		margin-bottom: 16px;
	}
	.list-item, .list-sub-item {
		position: relative;
		line-height: 1.2;
		&:after {
			content: "";
			height: 1px;
			width: 8px;
			position: absolute;
			background:$gray-light;
			left: 5px;
			top: 10px;
		}
	}
	.list-item:last-child,
	.list-sub-item:last-child {
		&:before {
			content: "";
			left: 5px; 
			bottom: 100%; 
			height: 2000em;
			width: 1px;
			background: $gray-light;
			position: absolute;
		}		
	}
	.list-sub-item:last-child:before {bottom: 7px;}

	.field {
		position: relative;
		padding-left: 20px;		
		cursor: pointer;
		&:before {
			content: "+";
			position: absolute;
			left: 2px;
			top: 2px;
			font-family: monospace;			
			font-size: 14px;
			z-index: 2;
		}
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 4px;
			width: 12px;
			height: 12px;
			border: 1px solid $gray;
			display: block;
			z-index: 1;
			background: #fff;
		}
		&.active:before {content: "-"}
	}
	.list-sub {
		padding-left: 24px;
		overflow: hidden;		
	}
	.list-sub-item {margin-top: 16px; padding-left: 20px;}

	.list-item:after {left: 10px;}
	label {font-size: 16px;
		input {top: 3px}
	}
}

input.number {
	width: 100px;
}
input.inp-short, select.inp-short {
	@media (min-width: $screen-lg-min) {
		width: 49%;
	}
}
input.inp-company-name {
	padding-left: 70px;
}
.inp-salary-wrap {
	display: inline-block;
	margin-right: 14px;
}

.input-language {
	@media (min-width: $screen-md-min) {
		width: 49%;
		float: left;
		&:first-child {margin-right: 2%;}
	}
}

.form-package {
	position: relative;
	margin-bottom: 20px;
	display: table;
	position: relative;
	width: 100%;
	.input, .icon, .text {display: table-cell;vertical-align: middle}
	.icon {width: 50px;text-align: center;}
	.lbl {
		font-size: 18px;
		line-height: 1;
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
	}
}

/* margins */
.inp-vacancy-town,
.inp-vacancy-metro,
.inp-vacancy-specialization,
.inp-vacancy-car {
	margin-top: 8px !important;
	&:first-child {margin-top: 0 !important;}
}

.lbl-sub,
.lbl-mg,
.list-vacancy-specializations {
	margin-top: 16px;
}
.lbl-resume-dogovor {margin-top: 8px;}

.b-form-topic--w {
	border: 1px solid $gray-light;
	padding: 16px;
	margin-bottom: 20px;
}
.b-form-topic {
	position: relative;
	padding-right: 30px;
	.btn-del {
		position: absolute;
		right: 3px;top: 5px;
	}
}
.b-form-topic+.b-form-topic {
	border-top: 1px solid $gray-light;
	padding-top: 16px;
	.btn-del {top: 16px;}
}



.b-form-lang {	
	position: relative;
	padding-right: 30px;
	margin-bottom: 8px;
	.btn {position: absolute; right: 3px; top: 5px;}
}

.b-form-resume-extra {
	margin-bottom: 16px;
	.link-local {margin: 0 8px 8px 0;}
}

input.inp-name {
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max), (min-width: $screen-lg-min) {
		width: 200px;
		margin-right: 8px;
	}
	@media (max-width: $screen-xs-max), (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		margin-bottom: 16px;
		&:last-child {margin-bottom: 0;}		
	}	
}
.inp-experience {width: 140px;}

select.inp-sex {width: 140px; margin-right: 8px;}
input.inp-age {width: 80px;}


.b-inp-period-i {
	display: flex;
	justify-content: space-between;
}
.inp-period {width: 48%;}

.b-inp-period-dash {
	text-align: center; 
	display: block;	
}
@media (min-width: $screen-md-min) {
	.b-inp-period-wrp {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}	
	.b-inp-period-i {flex-grow: 1;}
	.b-inp-period-dash {width: 20px;}
}


.col-form-2-2cols {
	@include clearfix;
	input, select {margin-bottom: 16px;}
	@media (min-width: $screen-lg-min) {
		input, select {
			width: 49%;
			&:last-child {float: right;}
			margin-bottom: 0;
		}		
	}
	
}
/* ==========================================================================
   - ARTICLE
   ========================================================================== */
.vacancy-details {
	.col-form-1 {padding-top: 0;}
	.metro-link {font-weight: 600; color: $base-text;margin: 0;}
}
@media (min-width: $screen-md-min) {	
	.vacancy-details .b-vacancy-sidebar {display: none;}
}
@media (min-width: $screen-lg-min) {	
	.vacancy-details-top {
		position: relative;
		padding-right: 150px;
	}
	.vacancy-details .b-vacancy-sidebar {display: none;}
	.b-vacancy-share {
		position: absolute;
		right: 0; top: 25px;
	}
}

.vacancy-id {font-size: 0.8rem; top: -8px; display: inline-block; position: relative}
.vacancy-salary {font-size: 1.2rem;font-weight: 600; color: $action;}
hr {border: none; height: 1px; background: $gray-light; margin: 16px -20px 0;}

// SIDEBAR
.b-vacancy-sidebar {
	.btn-main {margin: 16px 0}
}
.user-avatar {
	border: 1px solid $gray-light;
	padding: 16px;
	margin-bottom: 16px;
	display: inline-block;
}
.user-data, .list-vacancy-actions {
	.svg-inline--fa {color: $action; width: 20px;margin-right: 8px;}
}
.user-data, .list-vacancy-actions .list-item {
	margin-bottom: 8px;	
}
.list-vacancy-actions .list-item:last-child {margin-bottom: 0;}
.user-data-comment {
	color: $gray;
	font-size: 14px;
}
.link-local {
	border-bottom: 1px dotted $link-text;
	display: inline-block; 
}
.list-vacancy-actions {
	background: $gray-bg;
	border-top: 1px solid $gray-light;
	padding: 16px;
	@media (min-width: $screen-md-min) {
		margin-left: -16px;
	}
}
.b-vacancy-sidebar--i-1,
.b-vacancy-sidebar--i-2 {	
	@media (min-width: $screen-md-min) {
		padding: 16px;
		margin-left: -16px;
	}
}
.b-vacancy-sidebar--i-2 {
	padding: 24px 16px;
	background: #eeecec;
}
// -SIDEBAR


// social sharing
.b-vacancy-share {
	margin-bottom: 16px;
}
.h-sharing {
	color: $action;
	font-size: 18px;
	margin: 0 0 8px 0;
}
.nav-social {
	.list-item {
		display: inline-block; 
		font-size: 20px;
		margin-right: 8px;
		@media (min-width: $screen-lg-min) {margin-right: 4px;}
	}
	.svg-inline--fa {color: $action}	
}
// -social sharing

//packages
.b-vacancy-packages {
	background: #eeecec;
	padding: 16px;
	margin: 16px 0;
	@media (min-width: $screen-md-min) {
		padding: 28px 24px;
		margin: 20px -20px 16px;
	}
	&--action {text-align: center;}
}
//-packages

// related
.b-related {
	border: 4px solid $link-text;
	padding: 20px;
}
.h-block-sub {
	font-size: 1.1rem;
	margin: 20px 0 8px 0;
}
.list-related-minor {
	.list-item {margin-bottom: 4px;}
}

@media (max-width: $screen-sm-max) {
	.b-vacancy-sidebar {
		margin-bottom: 16px;
	}
}
/* ==========================================================================
   SERVICES
   ========================================================================== */
.h-services {
	color: $blue;
	margin-top: 32px;
}

.row-service-listing {
	justify-content: space-around;
	flex-wrap: wrap;
}
.service-listing-itm {
	border: 1px solid $gray;
	border-radius: 4px;
	text-align: center;
	transition: all .15s;
	margin-bottom: 16px;
	max-width: 300px;
	.title {margin: 20px 0 8px 0; font-size: 24px;}
	.subtitle {font-weight: 500;}
	.price-wrap {
		margin-top: 20px;
		display: block;
		background: #eeecec;
		padding: 16px 0;
		font-size: 20px;
		position: relative;
		svg {margin-right: 4px;}
		&:before, &:after {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 1px;
			background: $gray;
			transition: all .15s;
		}		
		&::before{top: 0;}
		&::after{bottom: 0;}
	}
	.price {font-size: 50px; line-height: 1;font-weight: 400;}
	.features {
		margin-top: 14px;
	}
	.features-item {
		border-bottom: 1px solid $gray-light;
		padding: 12px 16px;
		svg {margin: 0 8px 0 0;}
	}
	.button {padding: 20px 0;}
	.btn {padding: 12px 20px;}
	&:hover {
		border-color: $blue-bright;
		box-shadow: 0 0 0 4px $blue-bright;
		.price-wrap {
			&:before, &:after {height: 4px;background: $blue-bright}
		}
	}
}
/* ==========================================================================
   SIDEBAR
   ========================================================================== */
.sidebar-right {
	@media (min-width: $screen-md-min) {
		padding-left: 16px;
	}
}
.b-cart {
	border: 1px solid $gray-light;
	padding: 20px;
	margin-top: 20px;
	.title {text-align: center; font-weight: 500;}
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
.nav-footer {
	@include border;
	text-transform: uppercase;	

	.menu-item {
		margin-bottom: 8px;
		i {
			background: url('../images/sprite-icons.png');			
			display: inline-block;
			vertical-align: middle;
			margin-right: 8px;
		}
		a {display: inline;}
		.support {background-position:0 -1584px;width: 18px; height: 18px}
		.partner {background-position:-137px -555px; width: 25px;height: 18px;}
		.calendar {background-position:0 -612px;width: 19px;height: 20px;}
		.mobile {background-position: 0 -1131px; width: 15px; height: 15px;}
	}	
	@media (min-width: $screen-sm-min) {
		.nav-menu {
			display: flex;
			justify-content: space-between;			
		}
		.menu-item {margin-bottom: 0;}
	}
}
.footer-site__i {
	padding-top: 16px;
	padding-bottom: 16px;
}
.nav-footer-second {margin-top: 16px;}
@import '_other';